@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-black dark:text-gray-300 text-base md:text-lg leading-relaxed lg:leading-loose;
}

img {
  @apply rounded-lg shadow-xl dark:shadow-none;
}

code {
  @apply dark:text-green-400 rounded-md dark:bg-zinc-700;
}

ul,
li {
  @apply text-black dark:text-gray-300 text-base md:text-lg leading-relaxed lg:leading-loose;
}

::-webkit-scrollbar {
    display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
